<div class="map-item monster-plot" style="left: <%= monster.pos_x %>px; top: <%= monster.pos_y %>px;">
  <a href="#" class="monster-link"
     data-action="click->map#showPopup"
     data-interaction-options="<%= monster_interaction_options(monster).to_json %>">
    <%= image_tag "map/#{monster.name.downcase}.png", alt: monster.name, draggable: false %>
    <span class="monster-hp">HP: <%= monster.hp %></span>
  </a>
</div>
