<div class="map-container" data-controller="map-scaler">
  <div class="map-content" data-map-scaler-target="content">
    <%= image_tag 'map/world_map.png', class: 'terrain-image' %>
    <% @profiles_with_castles.each do |profile| %>
      <div class="map-plot" style="top: <%= profile.map_plot.pos_y %>px; left: <%= profile.map_plot.pos_x %>px;">
        <%= link_to user_path(profile.user) do %>
          <%= image_tag "castle_#{profile.}.png", alt: "Castelo de #{profile.name}" %>
        <% end %>
      </div>
    <% end %>
    <% @monsters.each do |monster| %>
      <div class="map-monster" style="top: <%= monster.pos_y %>px; left: <%= monster.pos_x %>px;">
        <%= button_to attack_world_monster_path(monster), method: :post, class: "monster-attack-button" do %>
          <%= image_tag "monsters/#{monster.name}.png", alt: monster.name %>
          <span class="monster-hp">HP: <%= monster.hp %></span>
        <% end %>
      </div>
    <% end %>
    <% @available_plots.each do |plot| %>
      <div class="map-plot map-plot--available" style="top: <%= plot.pos_y %>px; left: <%= plot.pos_x %>px;">
      </div>
    <% end %>
  </div>
</div>
