<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo rl 02.png" %>
    <% end %>

    <% if user_signed_in? %>
      <button class="navbar-toggler d-sm-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      </button>
    <% else %>
      <ul class="navbar-nav ms-auto d-sm-none">
        <li class="nav-item">
          <% if request.path == new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
        </li>
      </ul>
    <% end %>
      
    <div class="d-none d-sm-flex w-100 justify-content-between">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "About Us", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact Us", contact_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %></li>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% unless user_signed_in? %>
          <li class="nav-item">
            <% if request.path == new_user_session_path %>
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if user_signed_in? %>
      <div class="offcanvas offcanvas-start d-sm-none" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-center w-100" id="mobileMenuLabel">Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav w-100 px-0">
            <li class="nav-item w-100 mb-2">
              <%= link_to "About Us", about_path, class: "btn-offcanvas" %>
            </li>
            <li class="nav-item w-100 mb-2">
              <%= link_to "Contact Us", contact_path, class: "btn-offcanvas" %>
            </li>
            <li class="nav-item w-100">
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-offcanvas" %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</nav>
