<h1 class="text-center mt-5">Contact Us</h1>

# <%= simple_form_for @user do |f| %>
#   <%= f.input :name %>
#   <%= f.input :email %>
#   <%= f.input :text %>
#   <%= f.input :category %>
#   <%= f.button :submit %>
# <% end %>
