<div class="landing-page-container">
  <h1>Welcome Level-Up Real Life!</h1>
  <p>The game where your real life levels up.</p>
  
  <% if user_signed_in? %>
    <%= link_to "Entrar no Jogo", user_base_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Registar", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-secondary" %>
  <% end %>
</div>

<!--
<div class="base-container">
  <% @plots.each do |plot| %>
    <% building = @profile.buildings.find_by(plot: plot) %>

    <div class="plot-area <%= building ? 'building-plot' : 'empty-plot' %>"
         style="top: <%= plot.top_percent %>%; left: <%= plot.left_percent %>%;">

      <% if building %>
        <%= link_to building_path(building) do %>
          <%= image_tag "buildings/#{building.building_type}.png" %>
        <% end %>
      <% else %>
        <%= link_to new_building_path(plot_id: plot.id) do %>
          <span>+</span>
        <% end %>
      <% end %>

    </div>
  <% end %>
</div>

<div class="container p-3" data-controller="inventory">
  <div class="d-flex justify-content-between">
    <div class="text-danger fs-3"><%= "LEVEL" %></div>
    <div class="text-danger fs-3"><%= "EXP" %></div>
    <div class="text-danger fs-3"><%= "STEPS" %></div>
  </div>

  <div class="d-none inventory-popup" data-inventory-target="inventoryPopup">
    <span class="close" data-action="click->inventory#hidePopup" style="position: absolute; top: 10px; right: 15px; cursor: pointer;">&times;</span>
    <h2 class="text-center">Inventory</h2>
    <div class="d-flex justify-content-between">
      <div class="border">
        <p>capacete</p>
        <p>armadura</p>
        <p>espada</p>
        <p>escudo</p>
        <p>.........</p>
      </div>
      <div class="border">
        <div><p>Aqui tem os equips</p></div>
      </div>
    </div>
  </div>

  <div class="d-none menu-popup" data-inventory-target="menuPopup">
    <span class="close" data-action="click->inventory#hidePopup" style="position: absolute; top: 10px; right: 15px; cursor: pointer;">&times;</span>
    <h2 class="text-center">Menu</h2>
    <div class="d-flex flex-column pt-5">
      <%= link_to "Leader Board", leaderboard_path, class:"btn btn-link text-decoration-none" %>
      <%= link_to "Settings", "setting_path", class:"btn btn-link text-decoration-none" %>
      <%= link_to "Credits", "credit_path", class:"btn btn-link text-decoration-none" %>
    </div>
  </div>

  <div class="d-none shop-popup" data-inventory-target="shopPopup">
    <span class="close" data-action="click->inventory#hidePopup" style="position: absolute; top: 10px; right: 15px; cursor: pointer;">&times;</span>
    <h2 class="text-center">Shop</h2>
    <p>Conteúdo da loja.</p>
  </div>

  <div class="container fixed-bottom p-3">
    <div class="d-flex justify-content-between">
      <%= link_to "Inventory", "#", class: "btn btn-primary rounded-5", data: { action: "click->inventory#showInventory" } %>
      <div class="d-flex gap-2">
        <%= link_to "Menu", "#", class: "btn btn-primary rounded-5", data: { action: "click->inventory#showMenu" } %>
        <%= link_to "Shop", "#", class: "btn btn-primary rounded-5", data: { action: "click->inventory#showShop" } %>
      </div>
    </div>
  </div>
</div>
-->
