<div class="header-card d-flex justify-content-center">
  <p class="card-border mt-5">New Building</p>
</div>
<div class="container">
  <div class="card card-box mx-auto mt-5 rounded-5"
      style="max-width: 600px; padding: 20px; box-shadow: 0 4px 12px #666;">
    <div class="container-close">
      <%= link_to "<i class='fa-solid fa-square-xmark'></i>".html_safe, user_base_path, class: "close-btn" %>
    </div>
    <%= simple_form_for @building do |f| %>
      <%= f.error_notification %>
      <%= f.input :plot_id, as: :hidden, input_html: { value: @plot.id } %>
      <%= f.input :building_type,
                  label: "Type",
                  collection: @available_building_types.map { |t| [t.titleize, t] },
              prompt: "Choose a building",
              required: true %>
      <%= f.full_error :building_type %>
      <%= f.button :submit, "Create", class: "btn btn-red w-100 mt-3"%>
    <% end %>
  </div>
</div>
