<div class="header-card d-flex justify-content-center">
  <p class="card-border mt-5">Prepare Attack</p>
</div>
<div class="container">
  <div class="card card-box mx-auto mt-5 rounded-5"
      style="max-width: 600px; padding: 20px; box-shadow: 0 4px 12px #666;">
    <div class="container-close">
      <%= link_to "<i class='fa-solid fa-square-xmark'></i>".html_safe, user_base_path, class: "close-btn" %>
    </div>
    <div class="text-center mb-4">
      <h5>You are attacking: <strong><%= @defender.username %></strong></h5>
    </div>


    <%= simple_form_for @battle do |f| %>
      <%= f.hidden_field :defender_id, value: @defender.id %>
      <div class="form-inputs">
        <h5>Select your troops:</h5>

        <% @attacker_troops_grouped.each do |(type, level), troops| %>
          <div class="d-flex align-items-center mb-3 p-2 rounded"
              data-controller="slider"
              data-slider-display-mode-value="quantity">
            
            <%= image_tag troops.first.image_asset_path, style: "width: 50px; height: 50px; margin-right: 15px;" %>
            
            <div class="flex-grow-1">
              <strong><%= type.titleize %></strong> (Level <%= level %>)
              <small class="d-block">Available: <%= troops.count %></small>
            </div>
            
            <%= range_field_tag "battle[troops][#{type}_#{level}]", 0, min: 0, max: troops.count, step: 1, class: "form-range mx-3", data: { action: "input->slider#update", slider_target: "input" } %>

            <span class="badge bg-secondary" style="width: 50px;" data-slider-target="output">0</span>

          </div>
        <% end %>

      </div>
      <div class="form-actions mt-4">
        <%= f.button :submit, "Launch Attack!", class: "btn btn-red w-100" %>
      </div>
    <% end %>
  </div>
</div>
