<h1 class="text-center mt-5">My Troops</h1>

<div class="text-center mt-4">
  <%= link_to "Back", root_path, class: "btn btn-red rounded-3" %>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <% Troop::TROOP_STATS.each do |troop_type, stats| %>
      <div class="col-md-4 mb-4">
        <div class="card-troop rounded-5" style="padding: 20px; box-shadow: 0 4px 12px #666;">
          <div class="card-body text-center">
            <% troop_folder = troop_type.to_s.pluralize %>
            <% image_path = "troops/#{troop_folder}/#{troop_type}1.png" %>
            <div class="img-troop">
              <%= image_tag image_path, class: "w-100" %>
              <div class="overlay">
              <p><%= troop_type.to_s.capitalize %></p>
              </div>
            </div>

            <div class="d-flex justify-content-between m-3">
              <span><i class="fa-solid fa-hand-fist"></i>  <%= stats[:attack] %></span>
              <span><i class="fa-solid fa-shield-halved"></i>  <%= stats[:defense] %></span>
              <span><i class="fa-solid fa-users"></i>  <%= @troop_counts[troop_type.to_s] || 0 %></span>
            </div>
            <%= button_to "Create #{troop_type.to_s.capitalize}", building_troops_path(@building),
              params: { troop: { troop_type: troop_type } },
              method: :post,
              class: "btn btn-red rounded-3" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
