<h1 class="text-center mt-5">New Troop</h1>
  <div class="card-body mx-auto my-4 rounded-5" style="max-width: 600px; padding: 20px; box-shadow: 0 4px 12px #666;">
    <%= simple_form_for [@building, @troop] do |f| %>
    <%= f.input :troop_type, collection: Troop::TROOP_STATS.map { |key, value| [key.upcase] } %>
    <%= f.input :attack, collection: Troop::TROOP_STATS.map { |key, value| [value[:attack]] } %>
    <%= f.input :defense, collection: Troop::TROOP_STATS.map { |key, value| [value[:defense]] } %>

      <%= f.button :submit, "Create", class: "btn btn-primary"%>
    <% end %>
  </div>
