<div class="hud-container">
  <%= image_tag "hud/hud-bar.png", class: "hud-bar" %>
    <div class="d-flex gap-2">

      <%= link_to "#", class: "hud-button" do %>
          <%= image_tag "hud/map.png", alt: "Map", class: "hud-button-icon" %>
      <% end %>

      <% if current_user.profile.guild.nil? %>
        <%= link_to guilds_path, class: "hud-button" do %>
            <%= image_tag "hud/guild.png", alt: "Guild", class: "hud-button-icon" %>
        <% end %>
      <% else %>
        <%= link_to guild_path(current_user.profile.guild), class: "hud-button" do %>
            <%= image_tag "hud/guild.png", alt: "Guild", class: "hud-button-icon" %>
        <% end %>
      <% end %>

      <%= link_to "#", class: "hud-button", data: { action: "click->inventory#showInventory" } do %>
        <%= image_tag "hud/inventory.png", alt: "Inventory", class: "hud-button-icon" %>
      <% end %>

      <%= link_to "#", class: "hud-button", data: { action: "click->inventory#showMenu" } do %>
        <%= image_tag "hud/menu.png", alt: "Menu", class: "hud-button-icon" %>
      <% end %>

      <%= link_to "#", class:"hud-button", data: { action: "click->inventory#showShop" } do %>
        <%= image_tag "hud/shop.png", alt: "Shop", class:"hud-button-icon" %>
      <% end %>
    </div>
</div>
