<div class="game-screen">
  <div class="base-container"
       data-controller="map-scaler building-menu"
       data-map-scaler-original-width-value="1280"
       data-map-scaler-original-height-value="720">

    <div class="map-content" data-map-scaler-target="content">
      <%= image_tag 'artwork.png', class: 'terrain-image', draggable: false %>
      
      <% @plots.each do |plot| %>
        <% building = @buildings_by_plot_id[plot.id] %>
        <div class="plot-area <%= building ? 'building-plot building-type--' + building.building_type.downcase : 'empty-plot' %>" style="top: <%= plot.pos_y %>px; left: <%= plot.pos_x %>px;">
          <% if building %>
            <div class="building-wrapper"
                 data-action="click->building-menu#toggle"
                 data-building-show-url="<%= building_destination_path(building) %>"
                 data-building-upgrade-url="<%= upgrade_building_path(building) %>"
                 data-building-upgrade-cost="<%= building.upgrade_cost.present? %>">
              
              <%= image_tag building.image_asset_path,
                            alt: "#{building.building_type.capitalize} Level #{building.level}",
                            draggable: false %>      
              <div class="building-level-badge"><%= building.level %></div>
            </div>
          <% else %>
            <%= link_to new_building_path(plot_id: plot.id) do %>
              <span><i class="fa-solid fa-circle-plus"></i></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= render 'bases/building_menu_popup' %>
  </div>
</div>
<%= render "bases/banner" %>
<% if @guild %>
  <%= render 'shared/guild_chat', guild: @guild %>
<% end %>
