<%= render "shared/flashes" %>

<div class="base-container" data-controller="building-menu">
  <%= render 'bases/banner' %>

  <% @plots.each do |plot| %>
    <% building = @buildings_by_plot_id[plot.id] %>
    <div class="plot-area <%= building ? 'building-plot building-type--' + building.building_type.downcase : 'empty-plot' %>" style="top: <%= plot.top_percent %>%; left: <%= plot.left_percent %>%;">
      <% if building %>
        <div class="building-wrapper"
             data-action="click->building-menu#toggle"
             data-building-show-url="<%= building_destination_path(building) %>"
             data-building-upgrade-url="<%= upgrade_building_path(building) %>"
             data-building-upgrade-cost="<%= building.upgrade_cost.present? %>">
          <%= image_tag building.image_asset_path, alt: "#{building.building_type.capitalize} Level #{building.level}" %>
          <div class="building-level-badge"><%= building.level %></div>
        </div>
      <% else %>
        <%= link_to new_building_path(plot_id: plot.id) do %>
          <span><i class="fa-solid fa-circle-plus"></i></i></span>
        <% end %>
      <% end %>

    </div>
  <% end %>

  <div class="building-menu" data-building-menu-target="menu">
    <div class="d-flex align-items-center gap-3">
      <div data-building-menu-target="upgradeFormContainer">
        <%= button_to "<i class='fa-solid fa-circle-up'></i>".html_safe, "#", method: :patch, class: "upgrade-btn" %>
      </div>
      <a href="#" data-building-menu-target="detailsLink" class="info-btn">
        <i class="fa-solid fa-circle-info"></i>
      </a>
    </div>
  </div>

  <div data-controller="inventory">
    <%= render 'inventory_popup' %>
    <%= render 'menu_popup' %>
    <%= render 'bases/shop_popup' %>
  </div>
</div>

<%= render 'bases/hud' %>
