<%= render 'bases/banner' %>

<div class="base-container" data-controller="building-menu">

  <% @plots.each do |plot| %>
    <% building = @buildings_by_plot_id[plot.id] %>
    <div class="plot-area <%= building ? 'building-plot' : 'empty-plot' %>" style="top: <%= plot.top_percent %>%; left: <%= plot.left_percent %>%;">
      <% if building %>

        <% if building.building_type == "barrack" %>
          <%= link_to building_troops_path(building) do %>
            <% folder   = building.building_type.pluralize %>
            <% filename = "#{building.building_type}#{format('%02d', building.level)}.png" %>
            <% image_path = "buildings/#{folder}/#{filename}" %>
            <%= image_tag image_path, alt: "#{building.building_type.capitalize} Level #{building.level}" %>
            <div class="building-level-badge"><%= building.level %></div>
          <% end %>

        <% elsif %w[mine sawmill quarry].include?(building.building_type) %>
          <% kind = building.building_type.downcase %>
          <% resource = building.resources.find_by(kind: kind) %>

          <% if resource %>
            <%= link_to building_resource_path(building, resource) do %>
              <% folder   = building.building_type.pluralize %>
              <% filename = "#{building.building_type}#{format('%02d', building.level)}.png" %>
              <% image_path = "buildings/#{folder}/#{filename}" %>
              <%= image_tag image_path, alt: "#{building.building_type.capitalize} Level #{building.level}" %>
              <div class="building-level-badge"><%= building.level %></div>
            <% end %>
          <% else %>
            <%= link_to new_building_resource_path(building, resource: { kind: kind }) do %>
              <% folder   = building.building_type.pluralize %>
              <% filename = "#{building.building_type}#{format('%02d', building.level)}.png" %>
              <% image_path = "buildings/#{folder}/#{filename}" %>
              <%= image_tag image_path, alt: "#{building.building_type.capitalize} Level #{building.level}" %>
              <div class="building-level-badge"><%= building.level %></div>
            <% end %>
          <% end %>

        <% else %>
          <%= link_to building_path(building) do %>
            <% folder   = building.building_type.pluralize %>
            <% filename = "#{building.building_type}#{format('%02d', building.level)}.png" %>
            <% image_path = "buildings/#{folder}/#{filename}" %>
            <%= image_tag image_path, alt: "#{building.building_type.capitalize} Level #{building.level}" %>
            <div class="building-level-badge"><%= building.level %></div>
          <% end %>
        <% end %>

      <% else %>
        <%= link_to new_building_path(plot_id: plot.id) do %>
          <span>+</span>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="building-menu" data-building-menu-target="menu">
    <div class="d-flex align-items-center gap-3">
      <div data-building-menu-target="upgradeFormContainer">
        <%= button_to "<i class='fa-solid fa-circle-up'></i>".html_safe, "#", method: :patch, class: "upgrade-btn" %>
      </div>

      <a href="#" data-building-menu-target="detailsLink" class="info-btn"><i class="fa-solid fa-circle-info"></i></a>
    </div>
  </div>

  <%= render 'inventory_popup' %>
  <%= render 'menu_popup' %>
  <%= render 'shop_popup' %>

  <div class="game-hud-buttons p-3">
    <div class="d-flex justify-content-between">
      <%= link_to "Inventory", "#", class: "btn btn-primary rounded-5", data: { action: "click->inventory#showInventory" } %>
      <div class="d-flex gap-2">
        <%= link_to "Menu", "#", class: "btn btn-primary rounded-5", data: { action: "click->inventory#showMenu" } %>
        <%= link_to "Shop", "#", class: "btn btn-primary rounded-5", data: { action: "click->inventory#showShop" } %>
      </div>
    </div>
  </div>

</div>
