<div class="game-screen">
  <div class="base-container" data-controller="map-scaler building-menu">
    <div class="map-content" data-map-scaler-target="content">
      <%= image_tag 'artwork.png', class: 'terrain-image', draggable: false %>
      <% @plots.each do |plot| %>
        <% building = @buildings_by_plot_id[plot.id] %>
        <div class="plot-area <%= building ? 'building-plot' : 'empty-plot' %>" style="top: <%= plot.pos_y %>px; left: <%= plot.pos_x %>px;">
          <% if building %>
            <%= link_to building_destination_path(building), class: "building-wrapper" do %>
              <%= image_tag building.image_asset_path,
                            alt: "#{building.building_type.capitalize} Level #{building.level}",
                            draggable: false %>
              <div class="building-level-badge"><%= building.level %></div>
            <% end %>
          <% else %>
            <%= link_to new_building_path(plot_id: plot.id) do %>
              <span><i class="fa-solid fa-circle-plus"></i></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% if @guild %>
  <%= render 'shared/guild_chat', guild: @guild %>
<% end %>
</div>
