<!DOCTYPE html>
<html>
  <head>
    <title>LevelUpRealLife</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

   <body>
    <%= render "shared/navbar" %>

    <% if (controller_name == 'bases' && action_name == 'show') || (controller_name == 'maps' && action_name == 'index') || (controller_name == 'troops' && action_name == 'index') %>
      <%= render "shared/banner" %>
    <% end %>

    <%= render "shared/flashes" %>

    <%= yield %>

    <% if controller_name == 'bases' && action_name == 'show' %>
      <div data-controller="inventory">
        <%= render 'inventory_popup' %>
        <%= render 'menu_popup' %>
        <%= render 'bases/shop_popup' %>
        <%= render 'bases/hud' %>
        <% if user_signed_in? %>
          <%= render 'shared/global_chat' %>
        <% end %>
      </div>
    <% end %>
    <div id="popup-container">
    </div>
  </body>
</html>
